aws_region           = "us-east-1"
project_name         = "replace-with-project-name"
environment          = "replace-with-environment"
bucket_name          = "replace-with-globally-unique-bucket-name"
github_repository    = "replace-with-owner/repository"
github_owner_id      = "00000000"
github_repository_id = "000000000"
